In [4]:
!pip install keras

Requirement already satisfied: keras in c:\users\bedir\anaconda3\lib\site-packages (2.4.3)
Requirement already satisfied: pyyaml in c:\users\bedir\anaconda3\lib\site-packages (from keras) (5.3)
Requirement already satisfied: h5py in c:\users\bedir\anaconda3\lib\site-packages (from keras) (2.10.0)
Requirement already satisfied: numpy>=1.9.1 in c:\users\bedir\anaconda3\lib\site-packages (from keras) (1.18.1)
Requirement already satisfied: scipy>=0.14 in c:\users\bedir\anaconda3\lib\site-packages (from keras) (1.4.1)
Requirement already satisfied: six in c:\users\bedir\anaconda3\lib\site-packages (from h5py->keras) (1.14.0)

In [167]:
from keras.datasets import boston_housing 
(X_train,y_train),(X_test,y_test)=boston_housing.load_data(
    path="boston_housing.npz", test_split=0.2, seed=113
)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(404, 13)
(404,)
(102, 13)
(102,)

In [168]:
import pandas as pd 
pd.DataFrame(X_train).head(2) #Bağımsız değişkenlerimiz.

        0     1     2    3      4   ...   8      9     10      11     12
0  1.23247   0.0  8.14  0.0  0.538  ...  4.0  307.0  21.0  396.90  18.72
1  0.02177  82.5  2.03  0.0  0.415  ...  2.0  348.0  14.7  395.38   3.11

[2 rows x 13 columns]

In [180]:
pd.DataFrame(y_train).head(2) #Bağımlı değişkenlerimiz.

      0
0  15.2
1  42.3

In [246]:
from sklearn.preprocessing import StandardScaler
X_train_scaled=StandardScaler().fit(X_train).transform(X_train);
X_test_scaled=StandardScaler().fit(X_test).transform(X_test);

Sütun isimleri yok ama, zaten sadece hedef değişkeni tahmin edip neaural network üzerinde biraz çalışacağız. Yorumlanması gereken değişkenler yok.

In [258]:
from keras.models import Sequential
from keras.layers import Dense
model=Sequential()
model.add(Dense(50, activation='relu', input_shape=(X_train_scaled.shape[1],)))
model.add(Dense(50, activation='relu'))
model.add(Dense(1))

**input_shape=(X_train_scaled.shape[1],:** inputların sayısı,ilk katman 

**activation='relu'** katmandaki düğümlerde kullanılacak aktivasyon fonksiyonu.

In [259]:
from keras.optimizers import SGD #optimizasyon algoritması= Stochastic Gradient Descent
sgd = SGD(lr=0.001, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(optimizer='adam', loss='mean_squared_error')

**SGD=** Stochastic Gradient Descent, geri yayılım ile katsayıları güncellerken ki algoritma, matematiksel metot.

**lr** learning rate, yani öğrenme hızımız. Decay parametresi öğrenme hızımızı zamanla azaltıyor.

**Momentum** yönteminde bir hız vektörü tutuyoruz ve her adımda bunu update ediyoruz. 

**Nesterov** momentumu ise bunu biraz daha akıllı yapan, büyük bir adım attıktan sonra kendini düzelten bir yöntem.

In [260]:
model.fit(X_train_scaled,y_train,epochs=1)
pd.concat([pd.DataFrame(y_test),pd.DataFrame(model.predict(X_test_scaled))],axis=1).head(6) #1 kez yinelediğimizde, yani rastgele ağırlıklar ile kurdupumuz nöral ağda tahmin ve gerçek değerler.

Epoch 1/1
404/404 [==============================] - 0s 745us/step - loss: 553.3366

      0         0
0   7.2  1.671163
1  18.8  0.815093
2  19.0  0.919361
3  27.0  1.574613
4  22.2  0.790101
5  24.5  0.642203

In [261]:
model.fit(X_train_scaled,y_train,epochs=5)
pd.concat([pd.DataFrame(y_test),pd.DataFrame(model.predict(X_test_scaled))],axis=1).head(6) #5 kez geriyayılım ile parametre güncllersek:

Epoch 1/5
404/404 [==============================] - 0s 49us/step - loss: 504.8439
Epoch 2/5
404/404 [==============================] - 0s 44us/step - loss: 445.0711
Epoch 3/5
404/404 [==============================] - 0s 67us/step - loss: 371.6281
Epoch 4/5
404/404 [==============================] - 0s 54us/step - loss: 277.9555
Epoch 5/5
404/404 [==============================] - 0s 64us/step - loss: 187.9178

      0          0
0   7.2  13.310325
1  18.8   7.066468
2  19.0  11.359685
3  27.0  14.078469
4  22.2  12.801603
5  24.5   6.219913

In [262]:
#Biraz daha yakın..

In [263]:
model.fit(X_train_scaled,y_train,epochs=50)
pd.concat([pd.DataFrame(y_test),pd.DataFrame(model.predict(X_test_scaled))],axis=1).head(6) #50 kez geriyayılım ile parametre güncllersek:

Epoch 1/50
404/404 [==============================] - 0s 54us/step - loss: 117.2110
Epoch 2/50
404/404 [==============================] - 0s 52us/step - loss: 80.5392
Epoch 3/50
404/404 [==============================] - 0s 47us/step - loss: 62.1456
Epoch 4/50
404/404 [==============================] - 0s 42us/step - loss: 48.7876
Epoch 5/50
404/404 [==============================] - 0s 42us/step - loss: 39.1130
Epoch 6/50
404/404 [==============================] - 0s 42us/step - loss: 32.7504
Epoch 7/50
404/404 [==============================] - 0s 42us/step - loss: 28.8605
Epoch 8/50
404/404 [==============================] - 0s 47us/step - loss: 26.2177
Epoch 9/50
404/404 [==============================] - 0s 64us/step - loss: 24.2903
Epoch 10/50
404/404 [==============================] - 0s 49us/step - loss: 22.6390
Epoch 11/50
404/404 [==============================] - 0s 69us/step - loss: 21.3892
Epoch 12/50
404/404 [==============================] - 0s 59us/step - loss: 20.2375
Epoch 13/50
404/404 [==============================] - 0s 54us/step - loss: 19.1952
Epoch 14/50
404/404 [==============================] - 0s 57us/step - loss: 18.3214
Epoch 15/50
404/404 [==============================] - 0s 54us/step - loss: 17.6737
Epoch 16/50
404/404 [==============================] - 0s 42us/step - loss: 16.8254
Epoch 17/50
404/404 [==============================] - 0s 40us/step - loss: 16.2054
Epoch 18/50
404/404 [==============================] - 0s 44us/step - loss: 15.6918
Epoch 19/50
404/404 [==============================] - 0s 44us/step - loss: 15.1358
Epoch 20/50
404/404 [==============================] - 0s 52us/step - loss: 14.6832
Epoch 21/50
404/404 [==============================] - 0s 54us/step - loss: 14.2653
Epoch 22/50
404/404 [==============================] - 0s 64us/step - loss: 13.8601
Epoch 23/50
404/404 [==============================] - 0s 59us/step - loss: 13.6320
Epoch 24/50
404/404 [==============================] - 0s 49us/step - loss: 13.1599
Epoch 25/50
404/404 [==============================] - 0s 49us/step - loss: 12.8235
Epoch 26/50
404/404 [==============================] - 0s 49us/step - loss: 12.5224
Epoch 27/50
404/404 [==============================] - 0s 59us/step - loss: 12.2906
Epoch 28/50
404/404 [==============================] - 0s 62us/step - loss: 12.0309
Epoch 29/50
404/404 [==============================] - 0s 57us/step - loss: 11.7958
Epoch 30/50
404/404 [==============================] - 0s 49us/step - loss: 11.5948
Epoch 31/50
404/404 [==============================] - 0s 47us/step - loss: 11.4326
Epoch 32/50
404/404 [==============================] - 0s 49us/step - loss: 11.2868
Epoch 33/50
404/404 [==============================] - 0s 52us/step - loss: 11.0506
Epoch 34/50
404/404 [==============================] - 0s 59us/step - loss: 10.9364
Epoch 35/50
404/404 [==============================] - 0s 54us/step - loss: 10.7823
Epoch 36/50
404/404 [==============================] - 0s 52us/step - loss: 10.6656
Epoch 37/50
404/404 [==============================] - 0s 44us/step - loss: 10.5383
Epoch 38/50
404/404 [==============================] - 0s 52us/step - loss: 10.4028
Epoch 39/50
404/404 [==============================] - 0s 64us/step - loss: 10.2886
Epoch 40/50
404/404 [==============================] - 0s 69us/step - loss: 10.2112
Epoch 41/50
404/404 [==============================] - 0s 57us/step - loss: 10.1605
Epoch 42/50
404/404 [==============================] - 0s 59us/step - loss: 10.0440
Epoch 43/50
404/404 [==============================] - 0s 67us/step - loss: 9.9358
Epoch 44/50
404/404 [==============================] - 0s 69us/step - loss: 9.9257
Epoch 45/50
404/404 [==============================] - 0s 74us/step - loss: 9.7896
Epoch 46/50
404/404 [==============================] - 0s 44us/step - loss: 9.8287
Epoch 47/50
404/404 [==============================] - 0s 52us/step - loss: 9.7095
Epoch 48/50
404/404 [==============================] - 0s 54us/step - loss: 9.5520
Epoch 49/50
404/404 [==============================] - 0s 47us/step - loss: 9.5805
Epoch 50/50
404/404 [==============================] - 0s 47us/step - loss: 9.4738

      0          0
0   7.2   5.937324
1  18.8  17.842781
2  19.0  22.308292
3  27.0  31.576675
4  22.2  27.154345
5  24.5  17.516182

In [264]:
#sonuçlar
model.evaluate(X_train_scaled,y_train)

404/404 [==============================] - 0s 801us/step

9.362370547681753

In [265]:
model.evaluate(X_test_scaled,y_test)

102/102 [==============================] - 0s 78us/step

21.950741038602942

In [266]:
model.summary()

Model: "sequential_40"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_97 (Dense)             (None, 50)                700
_________________________________________________________________
dense_98 (Dense)             (None, 50)                2550
_________________________________________________________________
dense_99 (Dense)             (None, 1)                 51
=================================================================
Total params: 3,301
Trainable params: 3,301
Non-trainable params: 0
_________________________________________________________________

In [268]:
pd.concat([pd.DataFrame(y_test),pd.DataFrame(model.predict(X_test_scaled))],axis=1).head(20)

       0          0
0    7.2   5.937324
1   18.8  17.842781
2   19.0  22.308292
3   27.0  31.576675
4   22.2  27.154345
5   24.5  17.516182
6   31.2  26.544992
7   22.9  22.468130
8   20.5  19.609678
9   23.2  19.454914
10  18.6  16.999746
11  14.5  16.798780
12  17.8  16.296408
13  50.0  41.619995
14  20.8  14.468040
15  24.3  18.897463
16  24.2  27.944712
17  19.8  21.221651
18  19.1  15.770152
19  22.7  23.339153

In [ ]:
df=pd.concat([df[["total_bill","tip","size"]],X_labeled],axis=1)